﻿@{
    IEnumerable<object> links = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("links");
}
@Display(Model.ContentItems)
@if (links == null || links.Count() < 1)
{
    <p>@T("There are no links.")</p>
}