﻿@model Datwendo.Links.Models.LinksPart

<div class="Links">
    <fieldset>
        @Html.LabelFor(m => m.Url, T("Url"))
        @Html.TextBoxFor(m => m.Url, new { @class = "text large" })
        <span class="hint">@T("Enter the Url")</span>
    </fieldset>
</div>
