﻿@model Datwendo.Links.ViewModels.LinksWidgetPartWiewModel

@using Orchard.Projections.Models

<fieldset>
    <label for="@Html.FieldIdFor(m=>m.QueryId)">Query</label>
    <select id="@Html.FieldIdFor(m=>m.QueryId)" name="@Html.FieldNameFor(m=>m.QueryId)">
        @foreach (QueryPart part in Model.Queries)
        {
            @Html.SelectOption(Model.QueryId, part.Record.Id, part.Name)
        }
    </select>
    <span class="hint">The query that contains the links to show in the Links Widget.</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m=>m.MaxCount, T("Max Count"))
    @Html.TextBoxFor(m=>m.MaxCount)
    <span class="hint">Max count of Links.</span>
</fieldset>